#sub-h-tag{
    color: brown;
}
#p-tag-1{
    color: yellow;
}
#sub-p-tag{
    color: white;
}
#h-tag-1{
    color: white;
}
#main-11{
    background-color: black;
}
#list-1{
    color: white;
}
#list-2{
    color: rgb(34, 255, 0);
}
#tab-1 {
    color:aqua;
}
#tab-2{
    color: rgb(49, 35, 199);
}
#tab-3{
    color:red;
}
#tab-4{
    color: teal;
}